body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #CC3333;
    color: white;
    display: table;
    width: 100%;
    padding: 20px 0 20px 0;
}

.header img {
    display: table-cell;
    vertical-align: middle;
}

.header h1 {
    font-size: 150%;
    display: table-cell;
    vertical-align: middle;
}

.nav {
    background-color: #888888;
	display: table;
    width: 100%;
    padding: 20px 0 20px 0;
    margin-top: 3px;
    margin-bottom: 20px;
}

.nav ul {
    list-style-type: none;
    display: table-cell;
    vertical-align: middle;
}

.nav li {
    display: inline;
    margin-right: 50px;
}

.nav li a {
    color: white;
    text-decoration: none;
}


.columnrow1 {
    width: 100%;
}

.content p {
    clear: both;
}

.columnrow2 {
    width: 100%;
}
.column1 {
	float: left;
	text-align: center;
	padding: 0;
    width: 20%;
}

.column2 {
    float: right;
    text-align: center;
    padding: 0; 
    width: 20%; 
}

.column3 {
    float: left;
    text-align: center;
    padding: 0;
    width: 20%;
}

.column4 {
    float: right;
    text-align: center;
    padding: 0; 
    width: 20%; 

.content h2 {
    text-align: justify;
}

.footer {
    
    background-color: #CC3333;
    color: white;
    text-align: center;
    padding: 15px 0 5px 0;
}

